.product_list, .product_detail{
    width: 800px;
    margin: 0 auto;
    overflow: hidden;
}

.product_item{
    float:left;
    width: 33.333%;
    padding: 30px;

    &:after{
        content: '';
        display: block;
        clear: both;
    }

    .txt_wrap{
        height: 40px;
        overflow: hidden;
    }
}

.product_detail{
    .image_wrap{
        width: 400px;
        margin: 0 auto;
    }
    .txt_wrap{
        width: 400px;
        height: 40px;
        overflow: hidden;
        text-align: center;
        margin: 0 auto;

        span{
            font-size:14px;
        }
    }

    .btn-back{
        display: block;
        width:200px;
        line-height: 50px;
        background-color: #222;
        color: #fff;
        margin: 0 auto;
        text-align: center;
        border-radius: 3px;
    }
}